@import 'vars.scss';

.todo {
  background: #ffffff;
  border: 4px solid $green;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 0.5rem;

  &__top, &__bottom {
    display: flex;
    justify-content: space-between;
  }

  &__name {
    margin: 0;
    margin-bottom: 0.8rem;
    font-weight: 700;
  }
  
  &_expired {
    border-color: $red;
  }

  &__button {
    display: block;
    font-size: 1rem;
    background: $blue;
    color: #ffffff;
    padding: 0.3rem 0.5rem;
    border-radius: 0.5rem;
    text-decoration: none;
    &:active {
      transform: translateY(2px);
    }
  }
}